.DS_Store
.Rproj.user
*.rds
.Rhistory
analysis/monarch_gam_analysis_cache/html/__packages
analysis/monarch_gam_analysis_cache/html/model-fitting_480c063a38e0e3eb1418b8a2594bf20d.RData
analysis/monarch_gam_analysis_cache/html/model-fitting_480c063a38e0e3eb1418b8a2594bf20d.rdb
analysis/monarch_gam_analysis_cache/html/model-fitting_480c063a38e0e3eb1418b8a2594bf20d.rdx
analysis/monarch_gam_analysis_cache/html/model-fitting_e7ab35ccee75d7cb50e1237f47de7846.RData
analysis/monarch_gam_analysis_cache/html/model-fitting_e7ab35ccee75d7cb50e1237f47de7846.rdb
analysis/monarch_gam_analysis_cache/html/model-fitting_e7ab35ccee75d7cb50e1237f47de7846.rdx
analysis/monarch_gam_analysis_cache/pdf/__packages
analysis/monarch_gam_analysis_cache/pdf/model-fitting_8bd68cf2b9700848e415d4b5f655823c.RData
analysis/monarch_gam_analysis_cache/pdf/model-fitting_8bd68cf2b9700848e415d4b5f655823c.rdb
analysis/monarch_gam_analysis_cache/pdf/model-fitting_8bd68cf2b9700848e415d4b5f655823c.rdx
analysis/monarch_gam_analysis_cache/html/__packages
analysis/monarch_gam_analysis_cache/html/model-fitting_480c063a38e0e3eb1418b8a2594bf20d.RData
analysis/monarch_gam_analysis_cache/html/model-fitting_480c063a38e0e3eb1418b8a2594bf20d.rdb
analysis/monarch_gam_analysis_cache/html/model-fitting_480c063a38e0e3eb1418b8a2594bf20d.rdx
analysis/monarch_gam_analysis_cache
analysis/monarch_game_analysis_files

analysis/monarch_gam_analysis_files/figure-html/correlation-analysis-1.png
analysis/monarch_gam_analysis_files/figure-html/data-comparison-1.png
analysis/monarch_gam_analysis_files/figure-html/diagnostics-histogram-1.png
analysis/monarch_gam_analysis_files/figure-html/diagnostics-qq-plot-1.png
analysis/monarch_gam_analysis_files/figure-html/diagnostics-residuals-fitted-1.png
analysis/monarch_gam_analysis_files/figure-html/diurnal-patterns-1.png
analysis/monarch_gam_analysis_files/figure-html/effect-diurnal-1.png
analysis/monarch_gam_analysis_files/figure-html/effect-previous-count-1.png
analysis/monarch_gam_analysis_files/figure-html/effect-sun-exposure-1.png
analysis/monarch_gam_analysis_files/figure-html/effect-temperature-1.png
analysis/monarch_gam_analysis_files/figure-html/exploratory-plots-1.png
analysis/monarch_gam_analysis_files/figure-html/gratia-diurnal-1.png
analysis/monarch_gam_analysis_files/figure-html/gratia-previous-count-1.png
analysis/monarch_gam_analysis_files/figure-html/gratia-sun-exposure-1.png
analysis/monarch_gam_analysis_files/figure-html/gratia-temperature-1.png
analysis/monarch_gam_analysis_files/figure-html/second-diagnostics-histogram-1.png
analysis/monarch_gam_analysis_files/figure-html/second-diagnostics-qq-plot-1.png
analysis/monarch_gam_analysis_files/figure-html/second-diagnostics-residuals-fitted-1.png
analysis/monarch_gam_analysis_files/figure-html/second-effect-previous-count-1.png
analysis/monarch_gam_analysis_files/figure-html/second-effect-temperature-1.png
analysis/monarch_gam_analysis_files/figure-html/second-effect-wind-1.png
analysis/monarch_gam_analysis_files/figure-pdf/correlation-analysis-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/data-comparison-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/diagnostics-histogram-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/diagnostics-qq-plot-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/diagnostics-residuals-fitted-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/diurnal-patterns-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/effect-diurnal-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/effect-previous-count-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/effect-sun-exposure-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/effect-temperature-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/exploratory-plots-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/gratia-diurnal-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/gratia-previous-count-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/gratia-sun-exposure-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/gratia-temperature-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/second-diagnostics-histogram-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/second-diagnostics-qq-plot-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/second-diagnostics-residuals-fitted-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/second-effect-previous-count-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/second-effect-temperature-1.pdf
analysis/monarch_gam_analysis_files/figure-pdf/second-effect-wind-1.pdf
analysis/monarch_gam_analysis_cache/html/__packages
analysis/monarch_gam_analysis_cache/html/model-fitting_480c063a38e0e3eb1418b8a2594bf20d.RData
analysis/monarch_gam_analysis_cache/html/model-fitting_480c063a38e0e3eb1418b8a2594bf20d.rdb
analysis/monarch_gam_analysis_cache/html/model-fitting_480c063a38e0e3eb1418b8a2594bf20d.rdx
analysis/monarch_gam_analysis_cache/html/__packages
.RData
.RDataTmp
